---
import MobileThreadFooter from "@components/MobileThreadFooter.svelte";
import ForumLayout from "../../../../layouts/ForumLayout.astro";
import { refreshAccessToken } from "../../../../lib/refreshAccessToken";
import { prisma } from "../../../../lib/shared";

import { validateJsonWebToken } from "../../../../lib/validateJsonWebToken";
import ThreadModule from "@modules/ThreadModule.svelte"

const page = parseInt(Astro.url.searchParams.get("page")) || 0;
const threadName = Astro.params.thread;
const forumName = Astro.params.forum;



const forum = await prisma.forum.findUnique({
	where: {
		slug: forumName,
	},
});

const thread = await prisma.thread.findUnique({
	where: {
		slug: threadName,
	},
	include: {
		user: {
			include: {
				_count: {
					select: {
						posts: true,
					},
				},
			},
		},
		posts: {
			skip: page * 25,
			take: 25,
			include: {
				_count: {
					select: {
						likes: true,
					},
				},
				user: {
					include: {
						_count: {
							select: {
								posts: true,
							},
						},
					},
				},
			},
		},
		_count: {
			select: {
				posts: true,
			},
		},
	},
});

const latestPost = await prisma.post.findFirst({
	where: {
		thread: {
			id: thread.id,
		},
	},
	orderBy: {
		created_at: "desc",
	},
	include: {
		user: true,
	},
});

const newThreads = await prisma.thread.findMany({
	orderBy: {
		created_at: "desc",
	},
	include: {
		forum: true,
	},
	take: 4,
});

if (!thread) {
	return Astro.redirect("/404");
}

// Add 1 view to the thread
await prisma.thread.update({
	where: {
		id: thread.id,
	},
	data: {
		views: { increment: 1 },
	},
});

let user = null;

if (Astro.cookies.has("accessToken")) {
	user = await validateJsonWebToken(Astro.cookies.get("accessToken").value);
}

await refreshAccessToken(Astro);

let isSubscribed = false;

if (user) {
	const subscription = await prisma.threadSubscription.findUnique({
		where: {
			user_id_thread_id: {
				user_id: user.id,
				thread_id: thread.id,
			}
		},
	});

	if (subscription) {
		isSubscribed = true;
	}
}


---

<ForumLayout title="The CyclersHub">
	<ThreadModule forum={forum} latestPost={latestPost} page={page} thread={thread} user={user} isSubscribed={isSubscribed} client:only></ThreadModule>
	<div slot="footer">
		<MobileThreadFooter user={user} client:load></MobileThreadFooter>
	</div>
</ForumLayout>
