---
import { ChatBubble } from "radix-svelte-icons";
import { refreshAccessToken } from "../../../lib/refreshAccessToken";
import { prisma } from "../../../lib/shared";
import moment from "moment";
import ForumLayout from "../../../layouts/ForumLayout.astro";

const forumName = Astro.params.forum;

const forum = await prisma.forum.findUnique({
	where: {
		slug: forumName,
	},
});

if (!forum) {
	return Astro.redirect("/404");
}

const threads = await prisma.thread.findMany({
	where: {
		forum: {
			id: forum.id,
		},
	},
	include: {
		user: true,
		_count: {
			select: {
				posts: true,
			},
		},
	},
});

await prisma.forum.update({
	where: {
		id: forum.id,
	},
	data: {
		views: {
			increment: 1,
		},
	},
});

await refreshAccessToken(Astro);
---

<ForumLayout title="The CyclersHub">
	<div class="my-16">
		<h1 class="font-bold text-base-content text-4xl mb-2">{forum.title}</h1>
		<p class="text-base-content max-w-lg text-xl">{forum.description}</p>
	</div>
	<div class="max-w-screen-xl mx-auto pb-16 pt-0">
		<h2 class="mb-4 text-base-content">Recent Threads</h2>
		<div class="flex flex-col gap-4">
			{
				threads.map((thread) => {
					return (
						<a class="bg-base-300 p-8 rounded-lg w-full flex flex-row gap-4 no-underline cursor-pointer" href={`/forums/${forumName}/${thread.slug}`}>
							
								<div class="flex flex-col gap-2 items-center">
									<div class="avatar">
										<div class="w-12 rounded-full">
											<img
												class="my-0"
												src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
											/>
										</div>
									</div>
									<span class="text-sm text-base-content flex gap-2">
										<ChatBubble size={18} />{" "}
										{thread._count.posts}
									</span>
								</div>
								<div>
									<div class="flex flex-col">
										<span class="text-base-content text-sm">{moment(thread.created_at).format("MMMM DD Y")}</span>
										<h3 class="font-bold text-base-content text-2xl my-0">
										{thread.title}
									</h3>
										</div>
									
									<p class="text-base-content text-lg my-0 mt-2">
										{thread.description}
									</p>
								</div>
						</a>
					);
				})
			}
		</div>
	</div>
</ForumLayout>
