---
import { ChatBubble } from "radix-svelte-icons";
import { refreshAccessToken } from "../../../lib/refreshAccessToken";
import { prisma } from "../../../lib/shared";
import moment from "moment";
import ForumLayout from "../../../layouts/ForumLayout.astro";
import ThreadPreview from "@components/ThreadPreview.svelte"
import MobileForumFooter from "@components/MobileForumFooter.svelte"
import { validateJsonWebToken } from "@lib/validateJsonWebToken";

const forumName = Astro.params.forum;

const forum = await prisma.forum.findUnique({
	where: {
		slug: forumName,
	},
});

if (!forum) {
	return Astro.redirect("/404");
}

const threads = await prisma.thread.findMany({
	where: {
		forum: {
			id: forum.id,
		},
	},
	include: {
		user: true,
		_count: {
			select: {
				posts: true,
			},
		},
	},
});

await prisma.forum.update({
	where: {
		id: forum.id,
	},
	data: {
		views: {
			increment: 1,
		},
	},
});

let user = {};

if (Astro.cookies.has("accessToken")) {
	user = await validateJsonWebToken(Astro.cookies.get("accessToken").value);
}

await refreshAccessToken(Astro);
---

<ForumLayout title="The CyclersHub">
	<div class="p-6 relative h-64">
		<img src={forum.banner} class="absolute top-0 left-0 w-full h-full my-0 brightness-50 object-cover">
		<div class="absolute top-[50%] translate-y-[-50%] left-0 p-6">
			<h1 class="font-bold  text-4xl mb-2 text-white">{forum.title}</h1>
		<p class="max-w-lg text-xl text-white">{forum.description}</p>
		</div>
	</div>
	<div class="text-sm breadcrumbs">
		<ul class="flex flex-row flex-wrap px-6 mb-0">
			<li class="text-wrap"><a href="/forums">Forums</a></li>
			<li class="text-wrap">{forum.title}</li>
		</ul>
	</div>
	<div class="max-w-screen-xl mx-auto p-6">
		<h2 class="mb-4 text-base-content mt-0">Recent Threads</h2>
		<div class="flex flex-col gap-4">
			{
				threads.map((thread) => {
					return (
						<ThreadPreview thread={thread} forumName={forumName} client:load></ThreadPreview>
					);
				})
			}
		</div>
	</div>
	<div slot="footer">
		<MobileForumFooter user={user} client:load></MobileForumFooter>
	</div>
</ForumLayout>
